* {
    margin: 0px;
    padding: 0px;
}

body {
    --orange: #193266;
    --lightBlue: #2b60bb;
    --lighterBlue: rgb(17, 153, 250);
    --grey: #f0f8ff;
    --white: #fff;
    --darkgrey: #3f4141;
    --lightBlack: #282929;
    font-family: "Abyssinica SIL", serif;
    --darknavyblue: #0e121b;
    --lightgray: rgb(156 163 175);
    --lightergray: rgb(209 213 219);
    background-color: var(--darknavyblue);
    color: var(--white);
}

.dashbord-con .nav-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightBlue);
    background-color: var(--darknavyblue);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.dashbord-con .nav-1 .box-1 {
    display: flex;
}

.dashbord-con .nav-1 .box-1 h1 {
    font-size: 2.2em;
    padding: 10px;
}

.dashbord-con .nav-1 .box-2 a {
    text-decoration: none;
    color: white;
}

.dashbord-con .nav-1 .box-2 a i {
    font-size: 1.5em;
    margin: 15px;
    color: var(--lighterBlue);
}

.dashbord-con .nav-2 {
    padding: 2rem;
    box-shadow: 2px 2px 5px var(--lighterBlue);
    background-color: var(--darknavyblue);
    border-radius: 10px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin-top: 101px;
}

.dashbord-con .nav-2 .box-1 ul a {
    text-decoration: none;
    color: white;
    display: flex;
    transition: all 500ms ease-in-out;
}

.dashbord-con .nav-2 .box-1 ul a:hover {
    padding-left: 10px;
}

.dashbord-con .nav-2 .box-1 ul a i {
    font-size: 1.3em;
    padding: 20px 5px 20px 0px;
    color: var(--lighterBlue);
}

.dashbord-con .nav-2 .box-1 ul a li {
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 20px 20px 5px;
}

.dashbord-con .nav-2 .box-1 ul:nth-child(2) {
    margin-top: 200px;
}

.dashbord-con .nav-1 .menu-icon-container {
    padding-top: 20px;
    padding-left: 20px;
    display: none;
}


.dashbord-con .nav-1 #menu-icon {
    font-size: 25px;
    font-weight: bolder;
}

.dashbord-con .nav-1 .remove-menu-icon-container {
    padding-top: 20px;
    padding-left: 20px;
    display: none;
}

.dashbord-con .nav-1 #remove-menu-icon {
    font-size: 25px;
    font-weight: bolder;
}


/* Media Querry */
@media (max-width: 1050px) {
    .dashbord-con .nav-2 {
        width: 80%;
        margin-left: -500px;
        margin-top: 95px;
        transition: all 500ms ease-in-out;
    }
    
    .nav-2.margin-left {
        margin-left: 1px;
    }
    .dashbord-con .nav-2 .box-1 ul:nth-child(2) {
        margin-top: 50px;
    }
    

    .dashbord-con .nav-1 .box-1 h1 {
        display: none; 
    }

    .dashbord-con .nav-1 .active {
        display: block;
    }
}